node_modules
defaults.js
installationConstants.js
contract/_agstate/yarn-links/
.idea/
.parcel-cache/
ui/.cache/
ui/dist/
cache/
contract/bundles/
startSimpleExchange-permit.json
startSimpleExchange.js
contract/test/smokeTests/assetList.js
contract/test/smokeTests/referenceList.js

.DS_Store

bundle-walletFactory*